    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>You have taught us:</h1>
            <h3>
                <a href="" class="typewrite" data-period="2000" data-type='[ "Collaboration", "Teamwork", "Friendship.", "New skills." ]'>
                  <span class="wrap"></span>
                </a>
              </h3>
              </div>
            </div>
        </div>
    </section>