    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
       <h1>A Couple of Words from each one of us:</h1>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {% for winner in site.winners %}
                <div>
                        {{ winner.content | markdownify }}
                        <p> - {{winner.name}} @ {{ winner.org}}</p>
                </div>
                <hr></hr>
                    {% endfor %}
            </div>
        </div>
    </section>